In [47]:
## 13-2-2018 

## Quandl Googl data, Regression, Features and Labels, basic Feature engineering.
## Basic Training and Testing 

## Forecasting and Predicting

In [83]:
import pandas as pd
import quandl
import numpy as np
import math 
from sklearn import preprocessing, cross_validation, svm 
from sklearn.linear_model import LinearRegression

In [49]:
df = quandl.get('WIKI/GOOGL')
df

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.010,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.010,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.760,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.240,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.760,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0
2004-08-26,104.950,107.95,104.66,107.910,7094800.0,0.0,1.0,52.637487,54.142132,52.492038,54.122070,7094800.0
2004-08-27,108.100,108.62,105.69,106.150,6211700.0,0.0,1.0,54.217364,54.478169,53.008633,53.239345,6211700.0
2004-08-30,105.280,105.49,102.01,102.010,5196700.0,0.0,1.0,52.802998,52.908323,51.162935,51.162935,5196700.0
2004-08-31,102.320,103.71,102.16,102.370,4917800.0,0.0,1.0,51.318415,52.015567,51.238167,51.343492,4917800.0
2004-09-01,102.700,102.97,99.67,100.250,9138200.0,0.0,1.0,51.509003,51.644421,49.989312,50.280210,9138200.0
2004-09-02,99.090,102.37,98.94,101.510,15118600.0,0.0,1.0,49.698414,51.343492,49.623182,50.912161,15118600.0
2004-09-03,100.950,101.74,99.32,100.010,5152400.0,0.0,1.0,50.631294,51.027517,49.813770,50.159839,5152400.0
2004-09-07,101.010,102.00,99.61,101.580,5847500.0,0.0,1.0,50.661387,51.157920,49.959219,50.947269,5847500.0
2004-09-08,100.740,103.03,100.50,102.300,4985600.0,0.0,1.0,50.525969,51.674514,50.405597,51.308384,4985600.0
2004-09-09,102.500,102.71,101.00,102.310,4061700.0,0.0,1.0,51.408694,51.514019,50.656371,51.313400,4061700.0
2004-09-10,101.470,106.56,101.30,105.330,8698800.0,0.0,1.0,50.892099,53.444980,50.806836,52.828075,8698800.0
2004-09-13,106.630,108.41,106.46,107.500,7844100.0,0.0,1.0,53.480088,54.372844,53.394825,53.916435,7844100.0
2004-09-14,107.440,112.00,106.79,111.490,10828900.0,0.0,1.0,53.886342,56.173402,53.560336,55.917612,10828900.0
2004-09-15,110.560,114.23,110.20,112.000,10713000.0,0.0,1.0,55.451172,57.291854,55.270615,56.173402,10713000.0
2004-09-16,112.340,115.80,111.65,113.970,9266300.0,0.0,1.0,56.343928,58.079285,55.997860,57.161452,9266300.0
2004-09-17,114.420,117.49,113.55,117.490,9472500.0,0.0,1.0,57.387149,58.926902,56.950802,58.926902,9472500.0
2004-09-20,116.950,121.60,116.77,119.360,10628700.0,0.0,1.0,58.656066,60.988265,58.565787,59.864797,10628700.0
2004-09-21,120.200,120.42,117.51,117.840,7228700.0,0.0,1.0,60.286097,60.396438,58.936933,59.102444,7228700.0
2004-09-22,117.450,119.67,116.81,118.380,7581200.0,0.0,1.0,58.906840,60.020277,58.585849,59.373280,7581200.0
2004-09-23,118.840,122.63,117.02,120.820,8535600.0,0.0,1.0,59.603992,61.504860,58.691174,60.597057,8535600.0
2004-09-24,120.970,124.10,119.76,119.830,9123400.0,0.0,1.0,60.672290,62.242136,60.065416,60.100525,9123400.0
2004-09-27,119.560,120.88,117.80,118.260,7066100.0,0.0,1.0,59.965107,60.627150,59.082382,59.313094,7066100.0
2004-09-28,121.150,127.40,120.21,126.860,16929000.0,0.0,1.0,60.762568,63.897245,60.291113,63.626409,16929000.0
2004-09-29,126.530,135.02,126.23,131.080,30516400.0,0.0,1.0,63.460898,67.719042,63.310433,65.742942,30516400.0
2004-09-30,129.899,132.30,129.00,129.600,13758000.0,0.0,1.0,65.150614,66.354831,64.699722,65.000651,13758000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-29,1055.490,1058.05,1052.70,1053.400,1156357.0,0.0,1.0,1055.490000,1058.050000,1052.700000,1053.400000,1156357.0
2018-01-02,1053.020,1075.98,1053.02,1073.210,1555809.0,0.0,1.0,1053.020000,1075.980000,1053.020000,1073.210000,1555809.0
2018-01-03,1073.930,1096.10,1073.43,1091.520,1550593.0,0.0,1.0,1073.930000,1096.100000,1073.430000,1091.520000,1550593.0
2018-01-04,1097.090,1104.08,1094.26,1095.760,1289293.0,0.0,1.0,1097.090000,1104.080000,1094.260000,1095.760000,1289293.0
2018-01-05,1103.450,1113.58,1101.80,1110.290,1493389.0,0.0,1.0,1103.450000,1113.580000,1101.800000,1110.290000,1493389.0
2018-01-08,1111.000,1119.16,1110.00,1114.210,1148958.0,0.0,1.0,1111.000000,1119.160000,1110.000000,1114.210000,1148958.0
2018-01-09,1118.440,1118.44,1108.20,1112.790,1335995.0,0.0,1.0,1118.440000,1118.440000,1108.200000,1112.790000,1335995.0
2018-01-10,1107.000,1112.78,1103.98,1110.140,1027781.0,0.0,1.0,1107.000000,1112.780000,1103.980000,1110.140000,1027781.0
2018-01-11,1112.310,1114.85,1106.48,1111.880,1102461.0,0.0,1.0,1112.310000,1114.850000,1106.480000,1111.880000,1102461.0
2018-01-12,1110.100,1131.30,1108.01,1130.650,1914460.0,0.0,1.0,1110.100000,1131.300000,1108.010000,1130.650000,1914460.0
2018-01-16,1140.310,1148.88,1126.66,1130.700,1783881.0,0.0,1.0,1140.310000,1148.880000,1126.660000,1130.700000,1783881.0
2018-01-17,1136.360,1139.32,1123.49,1139.100,1353097.0,0.0,1.0,1136.360000,1139.320000,1123.490000,1139.100000,1353097.0
2018-01-18,1139.350,1140.59,1124.46,1135.970,1333633.0,0.0,1.0,1139.350000,1140.590000,1124.460000,1135.970000,1333633.0
2018-01-19,1138.030,1143.78,1132.50,1143.500,1418376.0,0.0,1.0,1138.030000,1143.780000,1132.500000,1143.500000,1418376.0
2018-01-22,1143.820,1166.88,1141.82,1164.160,1437954.0,0.0,1.0,1143.820000,1166.880000,1141.820000,1164.160000,1437954.0
2018-01-23,1170.620,1178.51,1167.25,1176.170,1832126.0,0.0,1.0,1170.620000,1178.510000,1167.250000,1176.170000,1832126.0
2018-01-24,1184.980,1187.05,1167.40,1171.290,1818182.0,0.0,1.0,1184.980000,1187.050000,1167.400000,1171.290000,1818182.0
2018-01-25,1180.710,1185.00,1171.84,1182.140,1398961.0,0.0,1.0,1180.710000,1185.000000,1171.840000,1182.140000,1398961.0
2018-01-26,1187.530,1187.56,1168.03,1187.560,1981476.0,0.0,1.0,1187.530000,1187.560000,1168.030000,1187.560000,1981476.0
2018-01-29,1188.000,1198.00,1184.06,1186.480,1533931.0,0.0,1.0,1188.000000,1198.000000,1184.060000,1186.480000,1533931.0
2018-01-30,1177.720,1187.93,1174.51,1177.370,1792602.0,0.0,1.0,1177.720000,1187.930000,1174.510000,1177.370000,1792602.0
2018-01-31,1183.810,1186.32,1172.10,1182.220,1643877.0,0.0,1.0,1183.810000,1186.320000,1172.100000,1182.220000,1643877.0
2018-02-01,1175.990,1187.45,1169.36,1181.590,2774967.0,0.0,1.0,1175.990000,1187.450000,1169.360000,1181.590000,2774967.0
2018-02-02,1127.420,1131.30,1111.17,1119.200,5798880.0,0.0,1.0,1127.420000,1131.300000,1111.170000,1119.200000,5798880.0
2018-02-05,1100.610,1114.99,1056.74,1068.760,3742469.0,0.0,1.0,1100.610000,1114.990000,1056.740000,1068.760000,3742469.0
2018-02-06,1033.980,1087.38,1030.01,1084.430,3732527.0,0.0,1.0,1033.980000,1087.380000,1030.010000,1084.430000,3732527.0
2018-02-07,1084.970,1086.53,1054.62,1055.410,2544683.0,0.0,1.0,1084.970000,1086.530000,1054.620000,1055.410000,2544683.0
2018-02-08,1059.870,1063.93,1005.12,1005.600,3067173.0,0.0,1.0,1059.870000,1063.930000,1005.120000,1005.600000,3067173.0
2018-02-09,1025.880,1051.72,997.00,1043.430,4436032.0,0.0,1.0,1025.880000,1051.720000,997.000000,1043.430000,4436032.0
2018-02-12,1056.670,1065.57,1045.49,1054.560,2796258.0,0.0,1.0,1056.670000,1065.570000,1045.490000,1054.560000,2796258.0

In [50]:
df.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-02-06,1033.98,1087.38,1030.01,1084.43,3732527.0,0.0,1.0,1033.98,1087.38,1030.01,1084.43,3732527.0
2018-02-07,1084.97,1086.53,1054.62,1055.41,2544683.0,0.0,1.0,1084.97,1086.53,1054.62,1055.41,2544683.0
2018-02-08,1059.87,1063.93,1005.12,1005.60,3067173.0,0.0,1.0,1059.87,1063.93,1005.12,1005.60,3067173.0
2018-02-09,1025.88,1051.72,997.00,1043.43,4436032.0,0.0,1.0,1025.88,1051.72,997.00,1043.43,4436032.0
2018-02-12,1056.67,1065.57,1045.49,1054.56,2796258.0,0.0,1.0,1056.67,1065.57,1045.49,1054.56,2796258.0

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3394 entries, 2004-08-19 to 2018-02-12
Data columns (total 12 columns):
Open           3394 non-null float64
High           3394 non-null float64
Low            3394 non-null float64
Close          3394 non-null float64
Volume         3394 non-null float64
Ex-Dividend    3394 non-null float64
Split Ratio    3394 non-null float64
Adj. Open      3394 non-null float64
Adj. High      3394 non-null float64
Adj. Low       3394 non-null float64
Adj. Close     3394 non-null float64
Adj. Volume    3394 non-null float64
dtypes: float64(12)
memory usage: 344.7 KB

In [52]:
df.shape

(3394, 12)

In [53]:
## creating a new df with subsets. 
## A little bit about Adj, since the split ratio is 1, this just means that after
## stock splits 

## The margin of High and Low tells us a bit about the volatiltiy of the day

df = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [54]:
# Let's define some features... 

# High - Low percent

df['HL_PCT'] = (df['Adj. High'] - df['Adj. Low'])/df['Adj. Low'] *100.0

## Percent Change --  close - open
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open'])/df['Adj. Open'] *100.0

C:\Users\Rigel\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Rigel\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [55]:
df.head()

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
Date,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,8.441017,0.324968
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,8.537313,7.227007
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,4.062357,-1.227880
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,7.753210,-5.726357
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,3.966115,1.183658

In [56]:
df = df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]

In [57]:
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0
2004-08-20   54.322689  8.537313    7.227007   22834300.0
2004-08-23   54.869377  4.062357   -1.227880   18256100.0
2004-08-24   52.597363  7.753210   -5.726357   15247300.0
2004-08-25   53.164113  3.966115    1.183658    9188600.0

In [58]:
forecast_col = 'Adj. Close'
#df.fillna(-99999, inplace = True)

forecast_out = int(math.ceil(0.01*len(df)))
forecast_out

34

In [59]:
df['label'] = df[forecast_col].shift(-forecast_out)

In [60]:
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0  69.639972
2004-08-20   54.322689  8.537313    7.227007   22834300.0  69.078238
2004-08-23   54.869377  4.062357   -1.227880   18256100.0  67.839414
2004-08-24   52.597363  7.753210   -5.726357   15247300.0  68.912727
2004-08-25   53.164113  3.966115    1.183658    9188600.0  70.668146

In [61]:
df.tail()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume  label
Date
2018-02-06     1084.43  5.569849    4.879205    3732527.0    NaN
2018-02-07     1055.41  3.025734   -2.724499    2544683.0    NaN
2018-02-08     1005.60  5.851043   -5.120439    3067173.0    NaN
2018-02-09     1043.43  5.488465    1.710726    4436032.0    NaN
2018-02-12     1054.56  1.920631   -0.199684    2796258.0    NaN

In [62]:
## As we can see the last rows have no values.. since there are no inputs for it

df.tail(50)

            Adj. Close    HL_PCT  PCT_change  Adj. Volume    label
Date
2017-11-30     1036.17  1.365927   -0.362521    2190379.0  1164.16
2017-12-01     1025.07  2.000197   -0.518240    1850541.0  1176.17
2017-12-04     1011.87  2.191792   -1.549912    1896325.0  1171.29
2017-12-05     1019.60  3.428047    0.851640    1927802.0  1182.14
2017-12-06     1032.72  2.390403    1.593673    1369276.0  1187.56
2017-12-07     1044.57  1.309689    0.820408    1437448.0  1186.48
2017-12-08     1049.38  1.009695   -0.231030    1479665.0  1177.37
2017-12-11     1051.97  1.137800    0.081818    1096997.0  1182.22
2017-12-12     1048.77  1.687291   -0.117143    1684977.0  1181.59
2017-12-13     1051.39  0.850389   -0.065584    1369580.0  1119.20
2017-12-14     1057.47  1.279423    0.187591    1531504.0  1068.76
2017-12-15     1072.00  1.430067    0.772716    3080738.0  1084.43
2017-12-18     1085.09  1.506021    0.802638    1482768.0  1055.41
2017-12-19     1079.78  1.184403   -0.299163    1287930.0  1005.60
2017-12-20     1073.56  1.181920   -0.680901    1429035.0  1043.43
2017-12-21     1070.85  0.797007   -0.422172    1211012.0  1054.56
2017-12-22     1068.86  0.382151   -0.106542     860800.0      NaN
2017-12-26     1065.85  0.965390   -0.261080     914574.0      NaN
2017-12-27     1060.20  0.934447   -0.600038    1027634.0      NaN
2017-12-28     1055.95  1.087926   -0.593081     982285.0      NaN
2017-12-29     1053.40  0.508217   -0.198012    1156357.0      NaN
2018-01-02     1073.21  2.180395    1.917343    1555809.0      NaN
2018-01-03     1091.52  2.111922    1.637909    1550593.0      NaN
2018-01-04     1095.76  0.897410   -0.121230    1289293.0      NaN
2018-01-05     1110.29  1.069160    0.619874    1493389.0      NaN
2018-01-08     1114.21  0.825225    0.288929    1148958.0      NaN
2018-01-09     1112.79  0.924021   -0.505168    1335995.0      NaN
2018-01-10     1110.14  0.797116    0.283650    1027781.0      NaN
2018-01-11     1111.88  0.756453   -0.038658    1102461.0      NaN
2018-01-12     1130.65  2.101967    1.851185    1914460.0      NaN
2018-01-16     1130.70  1.972201   -0.842753    1783881.0      NaN
2018-01-17     1139.10  1.409002    0.241121    1353097.0      NaN
2018-01-18     1135.97  1.434466   -0.296660    1333633.0      NaN
2018-01-19     1143.50  0.996026    0.480655    1418376.0      NaN
2018-01-22     1164.16  2.194742    1.778252    1437954.0      NaN
2018-01-23     1176.17  0.964661    0.474108    1832126.0      NaN
2018-01-24     1171.29  1.683228   -1.155294    1818182.0      NaN
2018-01-25     1182.14  1.123020    0.121114    1398961.0      NaN
2018-01-26     1187.56  1.672046    0.002526    1981476.0      NaN
2018-01-29     1186.48  1.177305   -0.127946    1533931.0      NaN
2018-01-30     1177.37  1.142604   -0.029718    1792602.0      NaN
2018-01-31     1182.22  1.213207   -0.134312    1643877.0      NaN
2018-02-01     1181.59  1.547000    0.476195    2774967.0      NaN
2018-02-02     1119.20  1.811604   -0.729098    5798880.0      NaN
2018-02-05     1068.76  5.512236   -2.893850    3742469.0      NaN
2018-02-06     1084.43  5.569849    4.879205    3732527.0      NaN
2018-02-07     1055.41  3.025734   -2.724499    2544683.0      NaN
2018-02-08     1005.60  5.851043   -5.120439    3067173.0      NaN
2018-02-09     1043.43  5.488465    1.710726    4436032.0      NaN
2018-02-12     1054.56  1.920631   -0.199684    2796258.0      NaN

In [63]:
df.dropna(inplace= True)

In [64]:
# All rows up to NA have now been dropped. 

df.tail(10)

            Adj. Close    HL_PCT  PCT_change  Adj. Volume    label
Date
2017-12-08     1049.38  1.009695   -0.231030    1479665.0  1177.37
2017-12-11     1051.97  1.137800    0.081818    1096997.0  1182.22
2017-12-12     1048.77  1.687291   -0.117143    1684977.0  1181.59
2017-12-13     1051.39  0.850389   -0.065584    1369580.0  1119.20
2017-12-14     1057.47  1.279423    0.187591    1531504.0  1068.76
2017-12-15     1072.00  1.430067    0.772716    3080738.0  1084.43
2017-12-18     1085.09  1.506021    0.802638    1482768.0  1055.41
2017-12-19     1079.78  1.184403   -0.299163    1287930.0  1005.60
2017-12-20     1073.56  1.181920   -0.680901    1429035.0  1043.43
2017-12-21     1070.85  0.797007   -0.422172    1211012.0  1054.56

In [68]:
X = np.array(df.drop(['label']))
y = np.array(df['label'])

ValueError: labels ['label'] not contained in axis

In [72]:
## Creating train X and Train Y

X = np.array(df.drop(['label'],1))
y = np.array(df['label'])

In [73]:
X

array([[  5.03228418e+01,   8.44101709e+00,   3.24967503e-01,
          4.46590000e+07],
       [  5.43226889e+01,   8.53731343e+00,   7.22700723e+00,
          2.28343000e+07],
       [  5.48693765e+01,   4.06235672e+00,  -1.22788010e+00,
          1.82561000e+07],
       ...,
       [  1.07978000e+03,   1.18440318e+00,  -2.99163450e-01,
          1.28793000e+06],
       [  1.07356000e+03,   1.18192027e+00,  -6.80901454e-01,
          1.42903500e+06],
       [  1.07085000e+03,   7.97006548e-01,  -4.22172421e-01,
          1.21101200e+06]])

In [74]:
y

array([   69.63997192,    69.0782379 ,    67.83941377, ...,  1005.6       ,
        1043.43      ,  1054.56      ])

In [75]:
y.shape

(3360,)

In [76]:
X.shape

(3360, 4)

In [78]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size =0.2)

In [79]:
X_train

array([[  2.38807175e+02,   9.91390715e-01,  -6.01227506e-01,
          3.94460000e+06],
       [  7.88420000e+02,   2.77197452e+00,  -2.27329069e+00,
          2.35073600e+06],
       [  2.29999988e+02,   1.50136288e+00,   6.96076063e-01,
          4.67810000e+06],
       ...,
       [  5.35080000e+02,   2.19733764e+00,  -1.39318885e+00,
          1.95172800e+06],
       [  9.28767015e+01,   1.79540030e+00,  -4.14089809e-01,
          1.45564000e+07],
       [  2.10875954e+02,   2.88785227e+00,  -1.31439972e+00,
          1.20717000e+07]])

In [81]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(2688, 4) (672, 4) (2688,) (672,)

In [96]:
## Accuracy of the data... R^2

clf = LinearRegression()
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
accuracy

0.97804037690299273

In [97]:
## SVM 

clf = svm.SVR()
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
accuracy

-0.24925974721130051

In [93]:
## SVM poly

#clf = svm.SVR(kernel = 'poly')
#clf.fit(X_train, y_train)
#accuracy = clf.score(X_test, y_test)
#accuracy

In [101]:
## svm.LinearRegression

clf = svm.LinearSVR()
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
accuracy

-2.5919874941005947

In [102]:
## Threading n = 10

clf = LinearRegression(n_jobs = 10)
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
accuracy

0.97804037690299273